security:

    providers:
        webservice:
            id: ekreative_redmine_login.provider

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt|error)|css|images|js)/
            security: false

        unsec:
            pattern: ^/(login$|api/doc)
            security: false

        secured_area:
            pattern: ^/
            anonymous: true
            simple_form:
                authenticator: ekreative_redmine_login.authenticator
                check_path:    login_check
                login_path:    login
                username_parameter: login[username]
                password_parameter: login[password]
                remember_me:    true
            simple_preauth:
                authenticator: ekreative_redmine_login.api_authenticator
            logout:
                path: /logout
            remember_me:
                key: "%secret%"
                path: /
                lifetime: 604800
                always_remember_me: true

    access_control:
        - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/(hosting|framework), roles: ROLE_REDMINE_ADMIN }
        - { path: ^/, roles: ROLE_REDMINE }
