<table class="table inner">
    <tbody>
    <tr>
        <th>IP</th>
        <td>{{ entity.ip }}</td>
    </tr>
    <tr>
        <th>OS</th>
        <td>{{ entity.os }}</td>
    </tr>
    <tr>
        <th>Automatic Updates</th>
        <td>{{ entity.autoUpdates }}</td>
    </tr>
    </tbody>
</table>
