@import "../../node_modules/bootstrap/less/bootstrap";
@import "../../node_modules/lesshat/build/lesshat";

.twitter-typeahead {
    width: 100%;

    .tt-hint {
        color: #999
    }

    .tt-menu {
        width: 422px;
        margin: 12px 0;
        padding: 8px 0;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        .border-radius(8px);
        .box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
    }

    .tt-suggestion {
        padding: 3px 20px;
        font-size: 18px;
        line-height: 24px;

        &:hover {
            cursor: pointer;
            color: #fff;
            background-color: #0097cf;
        }

        .tt-cursor {
            color: #fff;
            background-color: #0097cf;
        }

        p {
            margin: 0;
        }
    }
}

.form-single-button {
    display: inline-block;
}

.header-edit-btn {
    margin-top: 1px;
    margin-right: 10px;
}

.btn-default {
    transition: 100ms;
}

.actual td {
    background-color: #F1F9F3;
}

.not-actual td {
    background-color: #F9F1F1;
}

.table-stripped.va td {
    vertical-align: middle !important;
}

.home-page-grid a{
    display: block;
    width: 100%;
    min-height: 197px;
    font-size: 40px;
    border: 1px solid #818181;
    padding: 6px 20px;
    transition: 300ms;
    text-decoration: none;
    color: #818181;
    position: relative;
    padding-top: 133px;

    &:hover {
        border: 1px solid #000;
        color: #000;
    }

    i {
        position: absolute;
        font-size: 114px;
        top: 20px;
        right: 20px;
    }
}
