{% extends '::base.html.twig' %}

{% block title %}Edit Site{% endblock %}

{% block headerPanel %}
    <div class="pull-right">
        {{ form_start(delete_form) }}
        {{ form_widget(delete_form.submit,{'attr':{'class':'btn-danger','onclick':'return confirm("Are you sure you want to delete?")'}}) }}
        {{ form_end(delete_form) }}
    </div>
{% endblock headerPanel %}

{% block body %}
    {{ form(edit_form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $.ajax({
            type: 'GET',
            url: "/app_dev.php/project/members?project="+$('#site_project').val(),
            success: function (data) {
                if (data.client) {
                    $('#site_client').val(data.client.id).trigger('change');
                }

                data.developers.forEach(function (item) {
                    if (item.id == $('#site_developer').val()){
                        return false;
                    }
                    $('#site_developer').append('<option value="'+item.id+'">'+item.name+'</option>')
                });

                data.managers.forEach(function (item) {
                    if (item.id == $('#site_responsibleManager').val()){
                        return false;
                    }
                    $('#site_responsibleManager').append('<option value="'+item.id+'">'+item.name+'</option>')
                });
            }
        });
        $('#site_responsibleManager').removeAttr('disabled');
        $('#site_developer').removeAttr('disabled');
    </script>
{% endblock %}