<table class="table inner">
    <tbody>
    <tr>
        <th>Url</th>
        <td>{{ entity.url}}</td>
    </tr>
    <tr>
        <th>Last sync</th>
        <td>{{ entity.lastSyncAt|date }}</td>
    </tr>
    </tbody>
</table>
