{% extends '::base.html.twig' %}

{% block title %}New Framework{% endblock %}

{% block body %}
    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('framework') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
